# Using this script to check the data and get an initial understanding from the data

# Note on some columns meaning:

In the calls log:

    - call types: 1:incoming, 2:outgoing, 3:missed
    - is_read: whether the user has interact with the entry
    
In the contacts log:

    - times_contacted: just count of call for the specific contact
    
In the sms logs:
    
    - sms_type: 0:all, 1:inbox, 2:sent, 3:draft, 4:outbox, 5:failed, 6:queued

In [1]:
import pandas as pd
import numpy as np
import glob

from collections import Counter

In [2]:
# to check if the files contain the same data
df_from_csv = pd.read_csv('../logs/users.csv')
df_from_json = pd.read_json('../logs/users.json')

In [3]:
df_from_csv.head(3)

   user_id              disbursed_at loan_status
0        1  2017-03-02T00:00:00.000Z      repaid
1        2  2017-03-01T00:00:00.000Z   defaulted
2        3  2017-03-02T00:00:00.000Z      repaid

In [4]:
df_from_json.head(3)

  disbursed_at loan_status  user_id
0   2017-03-02      repaid        1
1   2017-03-01   defaulted        2
2   2017-03-02      repaid        3

In [7]:
print Counter(df_from_json.disbursed_at)

print Counter(df_from_csv.disbursed_at)

Counter({Timestamp('2017-03-02 00:00:00'): 333, Timestamp('2017-03-01 00:00:00'): 67})
Counter({'2017-03-02T00:00:00.000Z': 333, '2017-03-01T00:00:00.000Z': 67})

In [8]:
sum(df_from_csv.user_id == df_from_json.user_id), sum(df_from_csv.loan_status == df_from_json.loan_status)

(400, 400)

Looks like the users.csv and users.json contain the same data of the load status and disbursment time of users with id from 1-400, so I will go ahead to use the users.csv

In [9]:
#  check count of defaulted and repaid users
Counter(df_from_csv.loan_status)

Counter({'defaulted': 200, 'repaid': 200})

# Looking at the data of user 164

Looking at the data from a specific user to get a sense that how the data from one user will look like

In [10]:
uid = 164  # picked this user because it has 2 devices
devices = glob.glob('../logs/user-%d/*' %uid)
devices_data = [glob.glob(i+'/*.txt') for i in devices]
devices_data

[['../logs/user-164/device-1/collated_call_log.txt',
  '../logs/user-164/device-1/collated_contact_list.txt',
  '../logs/user-164/device-1/collated_sms_log.txt'],
 ['../logs/user-164/device-2/collated_call_log.txt',
  '../logs/user-164/device-2/collated_contact_list.txt',
  '../logs/user-164/device-2/collated_sms_log.txt']]

In [11]:
df_from_csv[df_from_csv['user_id'] == 164]

     user_id              disbursed_at loan_status
163      164  2017-03-02T00:00:00.000Z      repaid

# Device 1 of uid 164

In [12]:
# call log
dv1_call = pd.read_json(devices_data[0][0])
dv1_call.head(5)

,cached_name,call_type,country_iso,data_usage,datetime,duration,features_video,geocoded_location,is_read,item_id,phone_number
0,Mum,2,KE,0,2017-04-26 17:27:26.907,201,False,Kenya,False,31,710461743
1,Ma Reu,2,KE,0,2017-04-26 17:22:56.508,172,False,Kenya,False,30,254650162978
2,Akiteles,2,KE,0,2017-04-26 17:22:01.934,0,False,Kenya,False,29,718742916
3,Akiteles,2,KE,0,2017-04-26 17:12:04.462,0,False,Kenya,False,28,718742916
4,Akiteles,2,KE,0,2017-04-26 17:10:03.791,0,False,Kenya,False,27,718742916

In [13]:
Counter(dv1_call.cached_name)

Counter({nan: 327,
         u'*128*0772031155': 2,
         u'0790 659030': 79,
         u'128772031155': 1,
         u'AMENELE G': 2,
         u'ARYNE K': 1,
         u'Abu': 1,
         u'Achichi': 1,
         u'Akine': 2,
         u'Akiteles': 5,
         u'Aledi': 28,
         u'Alex!': 7,
         u'Alex-aitel': 1,
         u'Alicia': 3,
         u'Amnyatap!': 2,
         u'Andrew Kapelo': 12,
         u'Anyik!': 3,
         u'Apostle Ben': 2,
         u'Arot': 4,
         u'Arotic': 1,
         u'Arshley': 4,
         u'Ashley!': 1,
         u'Atabo Emar': 16,
         u'Atash': 19,
         u'Athkon': 1,
         u"BA'ryan": 1,
         u'BARNABAS K': 1,
         u'BETTY L': 2,
         u'Ba Chero': 1,
         u'Baba Ipae': 7,
         u'Baba!': 2,
         u'Babaikimat': 1,
         u'Becky': 4,
         u'Benja': 2,
         u'Benny': 1,
         u'Bentar siz': 5,
         u'Bony!': 2,
         u'Brian-ikuku': 2,
         u'Bro Davi': 3,
         u'Bro Eli': 4,
         u'Bro Gary': 13,
         u'CATHERINE L': 1,
         u'CHARLES N': 1,
         u'Cheboi!': 4,
         u'Cheeeege!': 8,
         u'Chege Boda': 9,
         u'Claz Rep Faith': 1,
         u'Cuz Rael': 4,
         u'DOKE J -2': 1,
         u'DORCAS A': 11,
         u'Dad': 32,
         u'Dan Emuria': 2,
         u'DanDan!': 4,
         u'Darius': 10,
         u'David Ekih': 4,
         u'De World': 1,
         u'Dibo': 5,
         u'Dorin-shauri': 1,
         u'Dorrine': 3,
         u'Dorry': 3,
         u'Doryy': 3,
         u'E Darius': 1,
         u'EDEKE F': 1,
         u'EJORE J': 29,
         u'ELIUD E': 6,
         u'Earlyman': 1,
         u'Eileen': 2,
         u'Ejoh!': 3,
         u'Ekai Mike!': 1,
         u'Eliud': 3,
         u'Esther!': 2,
         u'Eunice Ebei': 111,
         u'Ezzien': 1,
         u'Flo': 1,
         u'Franko': 2,
         u'Frnk!': 1,
         u'Gabby': 9,
         u'Gary Gary!': 9,
         u'Gasper': 1,
         u'Geofree!': 1,
         u'Hellen': 5,
         u'Hr Nancy': 1,
         u'Hr- Minstry Of Water': 2,
         u'Hubby': 19,
         u'Humpho': 3,
         u'I piuz': 1,
         u'Ibongon': 1,
         u'Idoky': 3,
         u'Ijuma': 1,
         u'Imma!': 1,
         u'Ishee 2': 2,
         u'Itabo Shee': 7,
         u'J Doke-or': 2,
         u'J Koitan!': 4,
         u'James Ebongon': 8,
         u'Jane-westy!': 1,
         u'Jedida!': 1,
         u'Joel': 7,
         u'Johnny': 3,
         u'Jon-ngapakin': 3,
         u'Joneee!': 1,
         u'KK': 1,
         u'Kathrene!': 3,
         u'Katodi': 18,
         u'Keitani': 1,
         u'Keitany': 1,
         u'Kevoh-orange': 4,
         u'Kevohhh': 1,
         u'Kkma': 5,
         u'Knight': 12,
         u'Korodi': 2,
         u'L Betty': 3,
         u'L esther': 2,
         u'LYDIA N': 35,
         u'Law': 2,
         u'Liz-sekon': 17,
         u'Lizzz': 8,
         u'Lochilia E': 2,
         u'Lodite': 24,
         u'Lokol Thomas': 3,
         u'Lokpe': 1,
         u'Lokwawi!': 13,
         u'Lomodei-poly': 1,
         u'Lorukia': 2,
         u'Losiru Dan': 2,
         u'Lotiman': 8,
         u'Lotot': 4,
         u'M Koech!': 1,
         u'Ma Brandy': 39,
         u'Ma Imuse': 2,
         u'Ma Reu': 17,
         u'Ma Rihanna': 8,
         u'Ma videl': 1,
         u"Ma'Berly": 3,
         u"Ma'lincy": 1,
         u'Maaaaaaanu': 3,
         u'Mama Dama': 1,
         u'Mama Max!': 1,
         u'Mama!': 6,
         u'Manager- Asis': 7,
         u'Mandela': 1,
         u'Mannu': 1,
         u'Manu-poly': 1,
         u'Marion!': 3,
         u'Mathe': 10,
         u'Mc Raphar_ Or': 4,
         u'Mchere': 1,
         u'Melvine': 1,
         u'Mike Moi': 1,
         u'Mum': 30,
         u'Mum GHM': 2,
         u'Mum"Dira': 3,
         u'Mum- Landlord!': 1,
         u'My Love': 2,
         u'My Sweet Love': 55,
         u'My Sweet love': 35,
         u'O Mike': 12,
         u'Oneh': 20,
         u'Opuru Moses': 1,
         u'Pastor Richy': 3,
         u'Penina': 1,
         u'Pius': 2,
         u'RAEL A': 27,
         u'Rafael': 5,
         u'Rapho': 1,
         u'Rchy!': 12,
         u'Regina Ibongon': 4,
         u'Reu': 23,
         u'Reunice': 393,
         u'Rosekuchal': 4,
         u'S Millicent': 13,
         u'SEKON P': 4,
         u'Sab': 1,
         u'Sam-poly': 4,
         u'Sarafina-poly': 1,
         u'Sari': 1,
         u'Sharon': 3,
         u'Shar\xf6n': 1,
         u'Shee Sabina': 6,
         u'Simuyu': 1,
         u'Siz 1': 16,
         u'Siz Benta': 16,
         u'Siz Itabo': 2,
         u'Siz Pasco': 39,
         u'Sussy': 22,
         u'Susy': 13,
         u'Susy 2': 1,
         u'The Brd': 3,
         u'Timo Bro': 6,
         u'Tony!': 8,
         u'Uncle Lowoton': 3,
         u'Uncle Namoru': 9,
         u'Unclestone': 15,
         u'Veroh-poly': 2,
         u'Vicky': 2,
         u'Victor Masai': 16,
         u'Wilfrida': 4,
         u'Xam!': 1,
         u'Xhee': 5,
         u'Yele': 4,
         u'mose!': 3,
         u'siz ijuma': 4})

In [14]:
print Counter(dv1_call.features_video)
print Counter(dv1_call.is_read)

Counter({False: 2098})
Counter({False: 1343, True: 755})

In [15]:
# estimating how long the user has been on this device 
# by the time difference between the first call and last 
# call in the call logs (it can also be done with sms log)
dv1_call['datetime'] = pd.to_datetime(dv1_call['datetime'])
min(dv1_call['datetime']), max(dv1_call['datetime'])

(Timestamp('2017-02-16 09:52:19.049000'),
 Timestamp('2017-04-26 17:27:26.907000'))

In [17]:
# in second
min(dv1_call.duration), np.mean(dv1_call.duration), max(dv1_call.duration)

(0, 44.785033365109626, 2263)

In [18]:
# contact log
dv1_contact = pd.read_json(devices_data[0][1])
dv1_contact.head(3)

,display_name,item_id,last_time_contacted,phone_numbers,photo_id,times_contacted
0,Akiteles,1271,1493227362262,"[{u'item_id': 2595, u'normalized_phone_number'...",NaN,6
1,Robert Ekeno,1272,0,"[{u'item_id': 2546, u'normalized_phone_number'...",NaN,0
2,Bentar siz,1273,1493225220050,"[{u'item_id': 5485, u'normalized_phone_number'...",NaN,12

In [19]:
for i in dv1_contact.phone_numbers.head(3).values:
    print i

[{u'item_id': 2595, u'normalized_phone_number': u'+254054247283', u'phone_number': u'0718742916'}]
[{u'item_id': 2546, u'normalized_phone_number': u'+254711346911', u'phone_number': u'+254711346911'}]
[{u'item_id': 5485, u'normalized_phone_number': u'+254323976446', u'phone_number': u'0707379138'}]

In [20]:
# sms log
dv1_sms = pd.read_json(devices_data[0][2])
dv1_sms.head(3)

,contact_id,datetime,item_id,message_body,sms_address,sms_type,thread_id
0,0,2017-04-26 18:45:55.595,72,"Hi, gd nyt.",+254281586716,1,17
1,0,2017-04-26 17:17:16.897,71,Sawa uncle..thank you,+254933575166,2,15
2,0,2017-04-26 17:16:22.497,70,Ekwar had also hinted to send something may by...,+254933575166,1,15

In [21]:
Counter(dv1_sms.sms_type)

Counter({1: 6606, 2: 5692, 3: 1, 5: 40})

In [22]:
Counter(dv1_sms.sms_address)

Counter({nan: 1,
         u'+181': 1,
         u'+254000685997': 3,
         u'+254002094601': 1,
         u'+254003232744': 1,
         u'+254007510931': 1,
         u'+254008674978': 2,
         u'+254010790839': 21,
         u'+254011502989': 8,
         u'+254016386269': 1,
         u'+254016436479': 9,
         u'+254018807942': 4,
         u'+254021719067': 1,
         u'+254022167497': 68,
         u'+254026616983': 4,
         u'+254028063367': 2,
         u'+254030142705': 11,
         u'+254033514402': 1,
         u'+254040404372': 1,
         u'+254040669378': 18,
         u'+254041468860': 21,
         u'+254041646229': 1,
         u'+254042789785': 3,
         u'+254043334791': 6,
         u'+254043724477': 15,
         u'+254047392031': 89,
         u'+254047820042': 16,
         u'+254049888677': 14,
         u'+254054247283': 15,
         u'+254068660795': 1,
         u'+254071349735': 15,
         u'+254072684297': 56,
         u'+254072976684': 1,
         u'+254081875037': 1,
         u'+254083973428': 13,
         u'+254090349378': 1,
         u'+254092593154': 55,
         u'+254093546874': 6,
         u'+254099017315': 1,
         u'+254104610626': 3,
         u'+254106400326': 5,
         u'+254112189269': 88,
         u'+254114780871': 4,
         u'+254117514912': 34,
         u'+254118952728': 2,
         u'+254121436078': 1,
         u'+254128670414': 29,
         u'+254131683528': 4,
         u'+254133806173': 15,
         u'+254138026510': 4,
         u'+254139505796': 8,
         u'+254146828631': 50,
         u'+254153366538': 9,
         u'+254157628397': 9,
         u'+254158474585': 15,
         u'+254166139439': 1,
         u'+254168944359': 6,
         u'+254170858478': 5,
         u'+254172828225': 6,
         u'+254177617653': 5,
         u'+254177661439': 1,
         u'+254177806128': 5,
         u'+254178800731': 7,
         u'+254179549429': 19,
         u'+254183692299': 19,
         u'+254186429093': 6,
         u'+254188019802': 1,
         u'+254190876159': 6,
         u'+254193940248': 1,
         u'+254194294392': 1,
         u'+254204708037': 1,
         u'+254215657590': 6,
         u'+254231057163': 1,
         u'+254231535795': 2,
         u'+254233458774': 1,
         u'+254236395787': 23,
         u'+254243171713': 33,
         u'+254243713872': 337,
         u'+254243932652': 3,
         u'+254246134559': 2,
         u'+254246148537': 74,
         u'+254250414747': 166,
         u'+254251592871': 3,
         u'+254256139302': 18,
         u'+254265375563': 7,
         u'+254266720164': 23,
         u'+254271095657': 377,
         u'+254274524187': 11,
         u'+254275045756': 7,
         u'+254275369533': 8,
         u'+254278994696': 2,
         u'+254280126446': 35,
         u'+254280188827': 4,
         u'+254280547003': 15,
         u'+254281586716': 242,
         u'+254282556647': 9,
         u'+254283485362': 8,
         u'+254286862636': 2,
         u'+254295743644': 33,
         u'+254302875842': 30,
         u'+254309012319': 1,
         u'+254312412621': 11,
         u'+254313642540': 2,
         u'+254314608677': 7,
         u'+254321869812': 42,
         u'+254323976446': 133,
         u'+254329026953': 2,
         u'+254330953418': 1,
         u'+254332281374': 4,
         u'+254338114286': 22,
         u'+254344509647': 3,
         u'+254349658339': 8,
         u'+254354382229': 2,
         u'+254356514005': 95,
         u'+254357241577': 4,
         u'+254361069798': 3,
         u'+254363216849': 3,
         u'+254367275488': 14,
         u'+254368056257': 23,
         u'+254370878040': 27,
         u'+254377629693': 28,
         u'+254377847437': 1,
         u'+254383349850': 7,
         u'+254388123253': 1,
         u'+254388496868': 4,
         u'+254393119725': 2,
         u'+254394647578': 4,
         u'+254395896361': 5,
         u'+254397477831': 2,
         u'+254405164649': 11,
         u'+254407439398': 7,
         u'+254409677338': 128,
         u'+254421471897': 1,
         u'+254432828613': 1,
         u'+254436284382': 4,
         u'+254436372352': 11,
         u'+254437429098': 8,
         u'+254440642977': 6,
         u'+254440898816': 2,
         u'+254441742314': 2,
         u'+254452809992': 2,
         u'+254455709756': 60,
         u'+254458302406': 1248,
         u'+254459616867': 1,
         u'+254470498215': 2,
         u'+254471019248': 1,
         u'+254473158039': 10,
         u'+254480473501': 1,
         u'+254484281737': 1,
         u'+254484321561': 9,
         u'+254487690346': 169,
         u'+254489668936': 13,
         u'+254494782457': 1,
         u'+254496717105': 4,
         u'+254500848325': 10,
         u'+254503996349': 5,
         u'+254504872922': 1,
         u'+254507867698': 24,
         u'+254510052552': 2,
         u'+254513215039': 10,
         u'+254515062822': 1,
         u'+254515721878': 3,
         u'+254519419811': 65,
         u'+254522461457': 8,
         u'+254529922782': 8,
         u'+254530245159': 2,
         u'+254531682917': 2,
         u'+254537084323': 12,
         u'+254538014511': 1,
         u'+254540974344': 1,
         u'+254542846359': 1,
         u'+254545707214': 32,
         u'+254550116945': 82,
         u'+254551626748': 8,
         u'+254553163536': 4,
         u'+254568401793': 3,
         u'+254572043723': 2,
         u'+254580344916': 5,
         u'+254586335869': 12,
         u'+254594855837': 1,
         u'+254594913772': 24,
         u'+254601041380': 1,
         u'+254603200626': 1,
         u'+254604820381': 31,
         u'+254613452099': 4,
         u'+254621260744': 10,
         u'+254623991880': 22,
         u'+254627083257': 4,
         u'+254627234879': 2,
         u'+254629692349': 5,
         u'+254631665183': 16,
         u'+254633129285': 11,
         u'+254633944274': 1,
         u'+254635505695': 2,
         u'+254639103801': 1,
         u'+254641893702': 5,
         u'+254642854276': 12,
         u'+254654865214': 2,
         u'+254656695601': 1,
         u'+254656900518': 30,
         u'+254660887758': 13,
         u'+254664369968': 7,
         u'+254666934237': 1,
         u'+254668489927': 7,
         u'+254669713023': 1,
         u'+254670560257': 2,
         u'+254681180145': 87,
         u'+254683669739': 74,
         u'+254684076314': 3,
         u'+254696984381': 7,
         u'+254705391534': 45,
         u'+254705585815': 58,
         u'+254706291014': 1,
         u'+254708121150': 1,
         u'+254712601285': 1,
         u'+254714929312': 5,
         u'+254723183783': 20,
         u'+254727504607': 2,
         u'+254729060105': 1,
         u'+254734994938': 5,
         u'+254738183814': 9,
         u'+254745058161': 8,
         u'+254746201297': 1,
         u'+254752183479': 1,
         u'+254752440127': 1,
         u'+254753674562': 1,
         u'+254762583630': 27,
         u'+254766346917': 388,
         u'+254767000872': 8,
         u'+254770159833': 33,
         u'+254772731502': 3,
         u'+254772791817': 2,
         u'+254775741732': 1,
         u'+254779999288': 1,
         u'+25478382': 2,
         u'+254785821075': 1,
         u'+254802622946': 6,
         u'+254805677393': 7,
         u'+254807924683': 3,
         u'+254810893731': 6,
         u'+254828419092': 11,
         u'+254831579862': 14,
         u'+254832568305': 15,
         u'+254835955623': 1,
         u'+254839687564': 5,
         u'+254842660754': 4,
         u'+254846907588': 4,
         u'+254852944530': 2,
         u'+254855921080': 3,
         u'+254856257170': 1,
         u'+254860428180': 1,
         u'+254861780640': 1,
         u'+254862256612': 2,
         u'+254867695170': 17,
         u'+254871199083': 20,
         u'+254873484542': 19,
         u'+254874788331': 3,
         u'+254876473203': 1,
         u'+254879546949': 13,
         u'+254880492078': 1,
         u'+254888537274': 1,
         u'+254889699556': 1,
         u'+254894506779': 2,
         u'+254896090481': 8,
         u'+254896591191': 1,
         u'+254897251501': 1,
         u'+254898472837': 80,
         u'+254906007866': 14,
         u'+254907232636': 3,
         u'+254908011087': 188,
         u'+254913327098': 5,
         u'+254916157909': 477,
         u'+254920962214': 1,
         u'+254930453749': 3,
         u'+254933491834': 1,
         u'+254933575166': 9,
         u'+254934260177': 2,
         u'+254936224677': 5,
         u'+254938660010': 23,
         u'+254950282561': 13,
         u'+254959055952': 2,
         u'+254962116214': 4,
         u'+254968146256': 3,
         u'+254968737007': 9,
         u'+254979061659': 1,
         u'+254979368757': 1,
         u'+254984178148': 18,
         u'+254987986838': 1,
         u'+254992801038': 1,
         u'+254993780882': 1,
         u'0700105409': 3,
         u'0700243114': 34,
         u'0700422496': 1,
         u'0700437840': 3,
         u'0700741928': 5,
         u'0700751397': 5,
         u'0700802055': 3,
         u'0701482462': 73,
         u'0701739337': 2,
         u'0701859462': 2,
         u'0701961179': 1,
         u'0701986367': 16,
         u'0701995979': 32,
         u'0702082008': 6,
         u'0702102787': 1,
         u'0702160890': 7,
         u'0702207779': 1,
         u'0702315547': 9,
         u'0702527340': 1,
         u'0702913654': 3,
         u'0702941367': 1,
         u'0703116914': 6,
         u'0703220826': 3,
         u'0703397622': 1,
         u'0703466178': 2,
         u'0703468700': 1,
         u'0703637941': 1,
         u'0703705319': 2,
         u'0703802762': 3,
         u'0703953588': 32,
         u'0704178060': 1,
         u'0704300505': 3,
         u'0704386908': 4,
         u'0704488296': 1,
         u'0704489899': 67,
         u'0704746789': 7,
         u'0704753920': 1,
         u'0705021185': 3,
         u'0705049728': 25,
         u'0705051368': 1,
         u'0705081209': 4,
         u'0705198120': 1,
         u'0705421429': 1,
         u'0705554227': 6,
         u'0705574843': 2,
         u'0705641012': 1,
         u'0705728848': 2,
         u'0705844627': 1,
         u'0705900779': 1,
         u'0705910523': 1,
         u'0705925679': 12,
         u'0705945941': 8,
         u'0705990556': 2,
         u'0706129321': 1,
         u'0706195219': 1,
         u'0706214287': 32,
         u'0706224377': 1,
         u'0706277872': 4,
         u'0706562513': 1,
         u'0706660194': 1,
         u'0706690278': 1,
         u'0706989050': 5,
         u'0707007407': 1,
         u'0707112418': 146,
         u'0707248154': 2,
         u'0707248944': 1,
         u'0707311429': 1,
         u'0707317742': 1,
         u'0707319758': 6,
         u'0707379138': 2,
         u'0707772497': 1,
         u'0707889150': 7,
         u'0707957361': 1,
         u'0708264808': 1,
         u'0708574182': 8,
         u'0708707267': 14,
         u'0708813331': 1,
         u'0708973325': 1,
         u'0710099076': 1,
         u'0710149390': 7,
         u'0710405936': 1,
         u'0710474012': 2,
         u'0710680344': 2,
         u'0710765685': 1,
         u'0711018599': 6,
         u'0711290043': 3,
         u'0711302366': 1,
         u'0711467969': 17,
         u'0711534783': 1,
         u'0711583258': 1,
         u'0711725378': 1,
         u'0711929994': 1,
         u'0712416333': 2,
         u'0712439957': 3,
         u'0712680379': 1,
         u'0712840342': 6,
         u'0713494121': 79,
         u'0713515942': 1,
         u'0713540937': 4,
         u'0713660139': 1,
         u'0713666092': 4,
         u'0713677448': 3,
         u'0713684591': 6,
         u'0713751003': 6,
         u'0713770916': 1,
         u'0713868677': 1,
         u'0713879127': 8,
         u'0714112146': 1,
         u'0714139975': 2,
         u'0714244044': 1,
         u'0714368650': 1,
         u'0714373278': 1,
         u'0714405289': 1,
         u'0714448322': 1,
         u'0714471777': 2,
         u'0714555083': 9,
         u'0714617714': 15,
         u'0714665528': 1,
         u'0714816419': 5,
         u'0715020509': 1985,
         u'0715061803': 2,
         u'0715093822': 3,
         u'0715190116': 2,
         u'0715461617': 17,
         u'0715511115': 1,
         u'0715545441': 3,
         u'0716144885': 16,
         u'0716168572': 9,
         u'0716187251': 2,
         u'0716219311': 1,
         u'0716571215': 6,
         u'0716623403': 2,
         u'0716839473': 21,
         u'0716854807': 1,
         u'0716977720': 2,
         u'0717056588': 3,
         u'0717117220': 1,
         u'0717213808': 2,
         u'0717706815': 4,
         u'0717996232': 1,
         u'0718086130': 1,
         u'0718112738': 1,
         u'0718167245': 6,
         u'0718169097': 4,
         u'0718250541': 1,
         u'0718251773': 1,
         u'0718360706': 1,
         u'0718478137': 2,
         u'0718594308': 23,
         u'0718742916': 2,
         u'0718765265': 1,
         u'0718866165': 1,
         u'0719001426': 1,
         u'0719216436': 4,
         u'0719376378': 1,
         u'0719376648': 16,
         u'0719868132': 1,
         u'0719942705': 2,
         u'0720328464': 4,
         u'0720387036': 2,
         u'0721080753': 2,
         u'0721188004': 1,
         u'0721702247': 2,
         u'0721824206': 56,
         u'0721911342': 3,
         u'0722099628': 13,
         u'0722263857': 7,
         u'0722498988': 3,
         u'0722581121': 1,
         u'0723012880': 1,
         u'0723066821': 3,
         u'0723248317': 1,
         u'0723365486': 1,
         u'0723785427': 4,
         u'0723893152': 1,
         u'0724052975': 1,
         u'0724585817': 1,
         u'0724745287': 6,
         u'0724762883': 1,
         u'0725196970': 1,
         u'0725569542': 1,
         u'0725897270': 39,
         u'0725960496': 4,
         u'0726015205': 89,
         u'0726017984': 17,
         u'0726056923': 5,
         u'0726232428': 2,
         u'0726404762': 1,
         u'0726421318': 25,
         u'0726611892': 1,
         u'0726943212': 1,
         u'0727056446': 1,
         u'0727104415': 3,
         u'0727434549': 1,
         u'0727618748': 1,
         u'0727646048': 21,
         u'0727771410': 1,
         u'0728406463': 1,
         u'0728464108': 12,
         u'0728721617': 1,
         u'0728785413': 1,
         u'0728864521': 12,
         u'0728865633': 1,
         u'0729001895': 1,
         u'0729101587': 3,
         u'0729383213': 1,
         u'0729399243': 2,
         u'0729666773': 15,
         u'0729699014': 1,
         u'0739548273': 8,
         u'0772230146': 1,
         u'0776679860': 1,
         u'0788347441': 1,
         u'0789004095': 11,
         u'0790084759': 2,
         u'0790418117': 2,
         u'0790547687': 11,
         u'0790883921': 315,
         u'0791352747': 1,
         u'0791366293': 6,
         u'0791483149': 1,
         u'0791691508': 19,
         u'0792029977': 5,
         u'0792665055': 1,
         u'0792666983': 1,
         u'0792685486': 21,
         u'0792690058': 10,
         u'0792844153': 27,
         u'0792858636': 12,
         u'0792954184': 1,
         u'0792987473': 7,
         u'0795354510': 2,
         u'0795392290': 1,
         u'0795491468': 34,
         u'0795609228': 11,
         u'0796048092': 11,
         u'0796136875': 1,
         u'0796859397': 1,
         u'0796950616': 1,
         u'0797073085': 1,
         u'0797803904': 14,
         u'0798045248': 1,
         u'0798073484': 2,
         u'0798236141': 25,
         u'0798543434': 2,
         u'0798948243': 1,
         u'0799896744': 5,
         u'132': 8,
         u'21991': 2,
         u'22141': 5,
         u'254098514972': 1,
         u'254225091498': 2,
         u'254278162104': 1,
         u'254626101789': 9,
         u'254651464771': 16,
         u'254818356501': 2,
         u'254931937962': 1,
         u'254965780412': 1,
         u'29020': 8,
         u'29029': 2,
         u'29090': 87,
         u'29247': 1,
         u'72000': 2,
         u'79079': 12,
         u'AIRTEL': 9,
         u'Airtel': 21,
         u'AirtelMoney': 2,
         u'BLAZE': 3,
         u'Betika': 23,
         u'Betin': 2,
         u'Branch-Co': 6,
         u'CO-OP_BANK': 3,
         u'COOPBANK': 19,
         u'ETOPUP': 3,
         u'Ess-Pesa': 5,
         u'Facebook': 1,
         u'GameMania': 3,
         u'INTERNET': 2,
         u'KCB M-PESA': 1,
         u'KPLC': 8,
         u'KRA': 1,
         u'KWIKBET': 53,
         u'KenyaPower': 1,
         u'M-Shwari': 18,
         u'MPESA': 322,
         u'OfferToro': 1,
         u'Orange': 153,
         u'PESALINK': 3,
         u'RED_CROSS': 2,
         u'SAFARICOM': 93,
         u'Safaricom': 570,
         u'Smartika': 4,
         u'TCLSMS': 1,
         u'Verify': 1,
         u'VoiceMail': 2,
         u'WhatsApp': 1,
         u'Whatsapp': 1,
         u'airtelmoney': 1,
         u'mCHEZA': 1,
         u'o': 1})

# Device 2 of uid 164

In [23]:
dv2_call = pd.read_json(devices_data[1][0])
dv2_call.head(3)

,cached_name,call_type,country_iso,data_usage,datetime,duration,features_video,geocoded_location,is_read,item_id,phone_number
0,Honey!,2,KE,0,2017-05-22 10:47:24.679,0,False,Kenya,False,6781,+254458302406
1,Honey!,2,KE,0,2017-05-22 10:47:16.054,0,False,Kenya,False,6780,+254458302406
2,Robat-platnum,3,KE,0,2017-05-22 06:55:05.352,0,False,Kenya,True,6779,0718902128

In [24]:
# Note: there's an overlap of usage between device 1 and 2
dv2_call['datetime'] = pd.to_datetime(dv2_call['datetime'])
min(dv2_call['datetime']), max(dv2_call['datetime'])

(Timestamp('2017-03-12 15:47:14.905000'),
 Timestamp('2017-05-22 10:47:24.679000'))

In [25]:
min(dv2_call.duration), np.mean(dv2_call.duration), max(dv2_call.duration)

(0, 29.083166999334665, 1908)

In [26]:
dv2_contact = pd.read_json(devices_data[1][1])
dv2_contact.head(3)

,display_name,item_id,last_time_contacted,phone_numbers,photo_id,times_contacted
0,Stevo,423,1470677235362,"[{u'item_id': 495222, u'normalized_phone_numbe...",NaN,5
1,Petzz,1188,1486666837411,"[{u'item_id': 495937, u'normalized_phone_numbe...",NaN,28
2,Adhiambo,1514,0,"[{u'item_id': 10620, u'phone_number': u'441'}]",NaN,0

In [27]:
dv2_sms = pd.read_json(devices_data[1][2])
dv2_sms.head(5)

,contact_id,datetime,item_id,message_body,sms_address,sms_type,thread_id
0,0,2017-05-22 10:50:59.602,21381,"Hi Ekuwom, your next Branch repayment of Ksh35...",Branch-Co,1,524
1,0,2017-05-22 10:45:48.087,21380,You have successfully received Ksh 45.00 on P...,Orange,1,561
2,0,2017-05-22 10:45:43.436,21379,Congratulations you have received FREE Holla P...,Orange,1,561
3,0,2017-05-22 10:18:57.252,21378,Hello!,+254458302406,2,225
4,0,2017-05-22 08:20:30.234,21376,You are invited to the Safaricom Deaf Athletic...,SAFARICOM,1,564

In [28]:
# seeing sms from Branch-Co, let's look at it closer
dv2_sms[dv2_sms.sms_address == 'Branch-Co'].head(5)

,contact_id,datetime,item_id,message_body,sms_address,sms_type,thread_id
0,0,2017-05-22 10:50:59.602,21381,"Hi Ekuwom, your next Branch repayment of Ksh35...",Branch-Co,1,524
50,0,2017-05-20 10:36:33.079,21330,"Hi Ekuwom, your next Branch repayment of Ksh35...",Branch-Co,1,524
524,0,2017-04-26 19:24:41.516,20027,Your Branch loan of Ksh 3100.0 has been sent! ...,Branch-Co,1,524
800,0,2017-04-03 11:11:28.619,18757,"Hi Ekuwom, your next Branch repayment of Ksh56...",Branch-Co,1,524
1107,0,2017-03-31 11:39:26.447,18427,Your Branch loan of Ksh 2000.0 has been sent! ...,Branch-Co,1,524

In [29]:
Counter(dv2_sms.sms_type)

Counter({1: 5027, 2: 3724, 5: 63})

In [30]:
Counter(dv2_sms.sms_address)

Counter({u'+211863012343': 1,
         u'+254005735214': 2,
         u'+254007510931': 13,
         u'+254008393217': 1,
         u'+254020740405': 6,
         u'+254024948558': 52,
         u'+254025669654': 2,
         u'+254027054132': 2,
         u'+254028991682': 1,
         u'+254032194814': 14,
         u'+254040669378': 51,
         u'+254042255566': 27,
         u'+254047392031': 1,
         u'+254047820042': 25,
         u'+254049403345': 1,
         u'+254049888677': 33,
         u'+254054247283': 8,
         u'+254057552783': 1,
         u'+254060432444': 3,
         u'+254071349735': 32,
         u'+254072684297': 23,
         u'+254078310919': 7,
         u'+254083973428': 1,
         u'+254087134351': 3,
         u'+254092593154': 15,
         u'+254093546874': 18,
         u'+254100705546': 1,
         u'+254106294864': 15,
         u'+254111548588': 1,
         u'+254112189269': 2,
         u'+254117514912': 28,
         u'+254119024677': 27,
         u'+254121570830': 6,
         u'+254128670414': 24,
         u'+254133806173': 1,
         u'+254136446311': 1,
         u'+254139505796': 44,
         u'+254146434569': 2,
         u'+254146828631': 49,
         u'+254157628397': 19,
         u'+254158474585': 20,
         u'+254163919137': 1,
         u'+254173217252': 6,
         u'+254179549429': 8,
         u'+254182507550': 4,
         u'+254186429093': 1,
         u'+254188019802': 14,
         u'+254190876159': 1,
         u'+254199363076': 10,
         u'+254202483128': 8,
         u'+254205415604': 7,
         u'+254220156807': 10,
         u'+254227388913': 6,
         u'+254228526612': 2,
         u'+254232529587': 6,
         u'+254243713872': 126,
         u'+254243932652': 2,
         u'+254246134559': 1,
         u'+254246148537': 14,
         u'+254247843802': 1,
         u'+254250414747': 19,
         u'+254251478168': 2,
         u'+254251592871': 22,
         u'+254252285624': 16,
         u'+254256139302': 6,
         u'+254260376585': 2,
         u'+254261766508': 1,
         u'+254266720164': 6,
         u'+254271095657': 114,
         u'+254276172145': 11,
         u'+254279130323': 2,
         u'+254280126446': 8,
         u'+254280188827': 3,
         u'+254280547003': 5,
         u'+254281586716': 210,
         u'+254284988491': 3,
         u'+254286862636': 11,
         u'+254290980998': 1,
         u'+254294092145': 34,
         u'+254312412621': 10,
         u'+254320769390': 32,
         u'+254322246883': 8,
         u'+254323976446': 30,
         u'+254332539968': 1,
         u'+254345779130': 1,
         u'+254346729267': 2,
         u'+254353120853': 4,
         u'+254356514005': 13,
         u'+254357241577': 15,
         u'+254361280241': 2,
         u'+254368056257': 3,
         u'+254373045659': 2,
         u'+254388496868': 10,
         u'+254389613027': 21,
         u'+254393119725': 4,
         u'+254394647578': 1,
         u'+254397477831': 5,
         u'+254409677338': 38,
         u'+254423395097': 4,
         u'+254436372352': 8,
         u'+254450546476': 16,
         u'+254455709756': 37,
         u'+254458302406': 944,
         u'+254463873922': 1,
         u'+254470498215': 19,
         u'+254473158039': 7,
         u'+254473299017': 8,
         u'+254478423492': 60,
         u'+254484321561': 12,
         u'+254487690346': 176,
         u'+254495579229': 13,
         u'+254497359109': 1,
         u'+254500848325': 3,
         u'+254503996349': 7,
         u'+254504872922': 2,
         u'+254507867698': 2,
         u'+254510052552': 1,
         u'+254513215039': 3,
         u'+254519419811': 4,
         u'+254522461457': 1,
         u'+254523015670': 2,
         u'+254528484304': 10,
         u'+254530245159': 2,
         u'+254546319258': 49,
         u'+254550116945': 31,
         u'+254553163536': 3,
         u'+254585928062': 7,
         u'+254590571096': 1,
         u'+254591467835': 33,
         u'+254600027508': 1,
         u'+254604820381': 95,
         u'+254610669641': 6,
         u'+254613001795': 1,
         u'+254613452099': 17,
         u'+254614909865': 1,
         u'+254621260744': 6,
         u'+254622757854': 6,
         u'+254623991880': 10,
         u'+254631665183': 1,
         u'+254633944274': 6,
         u'+254641893702': 6,
         u'+254650162978': 6,
         u'+254650164338': 1,
         u'+254656695601': 2,
         u'+254656900518': 43,
         u'+254668113547': 2,
         u'+254668489927': 18,
         u'+254676157465': 2,
         u'+254677190622': 1,
         u'+254681180145': 18,
         u'+254683669739': 37,
         u'+254693089000': 16,
         u'+254694950480': 2,
         u'+254701505015': 1,
         u'+254703468351': 1,
         u'+254705585815': 36,
         u'+254706291014': 26,
         u'+254708770024': 2,
         u'+254715024461': 5,
         u'+254723183783': 1,
         u'+254724452599': 2,
         u'+254734994938': 16,
         u'+254746201297': 12,
         u'+254753182609': 1,
         u'+254753944063': 2,
         u'+254762583630': 25,
         u'+254763142422': 1,
         u'+254766346917': 234,
         u'+254767967745': 13,
         u'+254769599127': 217,
         u'+254769794797': 6,
         u'+254770159833': 3,
         u'+254772731502': 3,
         u'+254776837189': 3,
         u'+254778432406': 1,
         u'+254810893731': 29,
         u'+254832568305': 10,
         u'+254835860952': 1,
         u'+254842664554': 10,
         u'+254846690145': 4,
         u'+254846907588': 8,
         u'+254847074068': 4,
         u'+254855761961': 2,
         u'+254867695170': 4,
         u'+254871199083': 1,
         u'+254873484542': 46,
         u'+254874056197': 15,
         u'+254880492078': 1,
         u'+254888537274': 16,
         u'+254890195600': 1,
         u'+254894506779': 8,
         u'+254907232636': 37,
         u'+254908011087': 71,
         u'+254916157909': 1861,
         u'+254917675980': 1,
         u'+254922562571': 24,
         u'+254925914471': 3,
         u'+254932358592': 2,
         u'+254933575166': 11,
         u'+254936224677': 5,
         u'+254945646290': 14,
         u'+254951192277': 8,
         u'+254962707071': 7,
         u'+254968737007': 11,
         u'+254974022883': 24,
         u'+254979368757': 2,
         u'+254983159160': 7,
         u'+254984120169': 3,
         u'0700043372': 3,
         u'0700741928': 16,
         u'0701093935': 2,
         u'0701382398': 2,
         u'0701638779': 3,
         u'0701739337': 2,
         u'0701958907': 1,
         u'0701986367': 11,
         u'0702082008': 10,
         u'0702267445': 1,
         u'0702315547': 24,
         u'0702423526': 1,
         u'0702599238': 1,
         u'0702874333': 3,
         u'0702913654': 3,
         u'0703345160': 14,
         u'0703391766': 1,
         u'0703565127': 5,
         u'0703681164': 12,
         u'0703953588': 12,
         u'0704178060': 6,
         u'0704488296': 4,
         u'0704489899': 1,
         u'0704684480': 1,
         u'0705021185': 21,
         u'0705049728': 13,
         u'0705079405': 3,
         u'0705081209': 16,
         u'0705388008': 8,
         u'0705461836': 1,
         u'0705574843': 4,
         u'0705775568': 6,
         u'0705818712': 1,
         u'0705936125': 13,
         u'0706045833': 1,
         u'0706214287': 9,
         u'0706224377': 3,
         u'0706454201': 1,
         u'0706690278': 77,
         u'0707089524': 1,
         u'0707112418': 73,
         u'0707379138': 3,
         u'0707772497': 20,
         u'0707888928': 1,
         u'0708071060': 1,
         u'0708679634': 2,
         u'0708813331': 5,
         u'0710099076': 1,
         u'0710212475': 2,
         u'0710461743': 14,
         u'0710774952': 15,
         u'0711290043': 1,
         u'0711467969': 3,
         u'0711725378': 3,
         u'0712196668': 3,
         u'0712439957': 5,
         u'0712840342': 2,
         u'0713137793': 1,
         u'0713494121': 35,
         u'0713540937': 3,
         u'0713684591': 64,
         u'0713751003': 6,
         u'0714151720': 4,
         u'0714349383': 29,
         u'0714890455': 1,
         u'0715020509': 653,
         u'0715261795': 6,
         u'0715330698': 1,
         u'0715398784': 1,
         u'0715461617': 30,
         u'0715511115': 1,
         u'0715684305': 44,
         u'0715888013': 32,
         u'0715903408': 1,
         u'0716140411': 1,
         u'0716144885': 5,
         u'0716168572': 3,
         u'0716571215': 6,
         u'0716623403': 8,
         u'0716839473': 5,
         u'0716854807': 1,
         u'0717213808': 5,
         u'0717706815': 2,
         u'0717845141': 3,
         u'0717886152': 19,
         u'0718114690': 1,
         u'0718169097': 1,
         u'0718478137': 2,
         u'0718537092': 1,
         u'0718627859': 7,
         u'0718716805': 32,
         u'0718742916': 9,
         u'0718766411': 4,
         u'0719090289': 8,
         u'0719093357': 1,
         u'0719443649': 3,
         u'0719973213': 1,
         u'0720278214': 192,
         u'0721824206': 15,
         u'0721911342': 28,
         u'0722108119': 2,
         u'0722263857': 10,
         u'0722658632': 1,
         u'0723315562': 1,
         u'0723341923': 2,
         u'0723650741': 1,
         u'0724247369': 3,
         u'0724307998': 15,
         u'0724527147': 1,
         u'0724649784': 9,
         u'0724745287': 28,
         u'0725721210': 4,
         u'0725811135': 1,
         u'0726015205': 24,
         u'0726017984': 4,
         u'0726232428': 8,
         u'0726870242': 1,
         u'0726997613': 14,
         u'0727104415': 3,
         u'0727280022': 2,
         u'0727646048': 8,
         u'0727771410': 16,
         u'0727843135': 1,
         u'0728179126': 3,
         u'0728446074': 1,
         u'0728785413': 1,
         u'0728864521': 11,
         u'0729383213': 1,
         u'0732380401': 1,
         u'0734405540': 5,
         u'0739548273': 7,
         u'0763638290': 1,
         u'0790246827': 2,
         u'0790310098': 1,
         u'0790418117': 17,
         u'0790547687': 1,
         u'0790714501': 7,
         u'0790883921': 100,
         u'0790990773': 2,
         u'0791366293': 1,
         u'0791415876': 4,
         u'0791746922': 1,
         u'0792462163': 12,
         u'0792568579': 1,
         u'0792665055': 4,
         u'0792685486': 2,
         u'0792722501': 1,
         u'0792844153': 33,
         u'0792987473': 8,
         u'0795420152': 3,
         u'0795491468': 1,
         u'0796136875': 1,
         u'0796719369': 1,
         u'0796859397': 1,
         u'0796931444': 2,
         u'0797803904': 15,
         u'0798236141': 1,
         u'0798543434': 1,
         u'0799788407': 32,
         u'132': 7,
         u'20308': 1,
         u'22141': 2,
         u'254626101789': 1,
         u'254651464771': 1,
         u'254745133625': 3,
         u'254818356501': 1,
         u'254898853320': 1,
         u'29020': 3,
         u'29090': 36,
         u'72000': 6,
         u'79079': 9,
         u'AIRTEL': 23,
         u'Airtel': 10,
         u'BLAZE': 5,
         u'BetPawa': 1,
         u'Betika': 15,
         u'Branch-Co': 7,
         u'CO-OP_BANK': 1,
         u'COOPBANK': 2,
         u'ECITIZEN': 1,
         u'ETOPUP': 4,
         u'Ess-Pesa': 13,
         u'KCB': 1,
         u'KPLC': 5,
         u'KWIKBET': 32,
         u'MPESA': 57,
         u'Orange': 139,
         u'Pepea': 1,
         u'SAFARICOM': 25,
         u'Safaricom': 69,
         u'Skiza': 1,
         u'Smartika': 4,
         u'Telkom': 2,
         u'VERIFY': 1,
         u'Verify': 1,
         u'VoiceMail': 2,
         u'Vuma': 2,
         u'WhatsApp': 1,
         u'e-jaze': 4,
         u'mCHEZA': 1})

# let's look at data from another user (uid 232)

In [31]:
uid = 232 # a defaulted user
devices = glob.glob('../logs/user-%d/*' %uid)
devices_data = [glob.glob(i+'/*.txt') for i in devices]
devices_data

[['../logs/user-232/device-1/collated_call_log.txt',
  '../logs/user-232/device-1/collated_contact_list.txt',
  '../logs/user-232/device-1/collated_sms_log.txt']]

In [32]:
df_from_csv[df_from_csv['user_id'] == 232]

     user_id              disbursed_at loan_status
231      232  2017-03-01T00:00:00.000Z   defaulted

# Device 1 of uid 220

In [33]:
dv1_call = pd.read_json(devices_data[0][0])
dv1_call.head(3)

,cached_name,call_type,datetime,duration,is_read,item_id,phone_number
0,NaN,1,2017-04-10 19:23:38.183,0,False,51734,Safaricom
1,Ngomongo Machakachue,1,2017-04-10 19:12:06.127,0,False,51733,0722252112
2,Mzee Sagini Majimoto,1,2017-04-10 18:55:14.980,0,False,51732,+254068542642

In [34]:
dv1_call['datetime'] = pd.to_datetime(dv1_call['datetime'])
min(dv1_call['datetime']), max(dv1_call['datetime'])

(Timestamp('2017-01-21 16:40:17.285000'),
 Timestamp('2017-04-10 19:23:38.183000'))

In [35]:
min(dv1_call.duration), np.mean(dv1_call.duration), max(dv1_call.duration)

(0, 23.537665562913908, 1994)

In [36]:
# noticed a lot more calls are from people not in the contact list
Counter(dv1_call.cached_name)

Counter({nan: 788,
         u'+254719833858': 6,
         u'0727777760': 17,
         u'Abel': 111,
         u'Abough': 1,
         u'Aesha': 10,
         u'Anta': 3,
         u'Baba Sumaya': 36,
         u'Babbu': 105,
         u'Bnz.': 3,
         u'Brooohhh': 7,
         u'Clyde': 6,
         u'Dada': 30,
         u'Fadhili': 2,
         u'Free Call': 13,
         u'Halima': 5,
         u'Hassan': 39,
         u'Herb': 42,
         u'JIMMY JAMAL': 12,
         u'Joan': 1,
         u'Jude': 2,
         u'Jumbe': 1,
         u'Kimani Bildad': 27,
         u'Kirago': 39,
         u'Ma Khadija': 369,
         u'Maahad': 5,
         u'Makhanu': 7,
         u'Meddy': 2,
         u'Mgustavo': 77,
         u'Muha': 35,
         u'Mzee Sagini Majimoto': 73,
         u'Nancy Mafuta': 1,
         u'Ngomongo Machakachue': 349,
         u'Omar12': 15,
         u'Panda': 2,
         u'Peter': 136,
         u'Peterr': 3,
         u'Qassim2': 6,
         u'Sportpesa': 9,
         u'Tonny': 7,
         u'Wex': 14})

In [37]:
dv1_contact = pd.read_json(devices_data[0][1])
dv1_contact.head(3)

,display_name,item_id,last_time_contacted,phone_numbers,photo_id,times_contacted
0,Baba,2056,1461738812364,"[{u'item_id': 2467, u'normalized_phone_number'...",NaN,16
1,Mama Suleiman,6372,0,NaN,NaN,0
2,Muha,6941,1489142087743,"[{u'item_id': 12882, u'normalized_phone_number...",NaN,162

In [38]:
dv1_sms = pd.read_json(devices_data[0][2])
dv1_sms.head(3)

,contact_id,datetime,item_id,message_body,sms_address,sms_type,thread_id
0,0,2017-04-10 19:23:38.183,28841,Congratulations! You have received 60.00 KSH ...,Safaricom,1,4034
1,0,2017-04-10 19:12:06.127,28840,I tried calling you at 21:29 on 10Apr Please ...,0722252112,1,3963
2,0,2017-04-10 18:55:14.980,28839,Huku njeve kaka,+254068542642,1,3993

In [39]:
Counter(dv1_sms.sms_type)

Counter({1: 1133, 2: 725, 5: 9})

In [40]:
Counter(dv1_sms.sms_address)

Counter({u'+254018678736': 8,
         u'+254019610769': 2,
         u'+254040858930': 2,
         u'+254064603459': 130,
         u'+254068542642': 60,
         u'+254094120967': 3,
         u'+254114737896': 90,
         u'+254143913710': 4,
         u'+254187686411': 12,
         u'+254239703771': 3,
         u'+254246932653': 3,
         u'+254275145453': 2,
         u'+254294618681': 2,
         u'+254320142173': 20,
         u'+254339916286': 1,
         u'+254462379307': 8,
         u'+254498363441': 2,
         u'+254498932642': 230,
         u'+254525302683': 3,
         u'+254526557522': 4,
         u'+254554142237': 3,
         u'+254602353546': 2,
         u'+254609264863': 20,
         u'+254623639289': 1,
         u'+254659306671': 2,
         u'+254673666459': 6,
         u'+254699736129': 3,
         u'+254712306481': 12,
         u'+254718270610': 2,
         u'+254745852644': 64,
         u'+254757189128': 140,
         u'+254761014110': 8,
         u'+254808049297': 2,
         u'+254851818970': 26,
         u'+254852244811': 5,
         u'+254925322873': 13,
         u'+254950606241': 48,
         u'+254966248074': 1,
         u'+256013492392': 1,
         u'0700509460': 2,
         u'0701752034': 1,
         u'0705436467': 5,
         u'0705539675': 6,
         u'0706685753': 3,
         u'0708775224': 4,
         u'0712697190': 2,
         u'0712716701': 1,
         u'0713908633': 10,
         u'0715655403': 2,
         u'0716055174': 8,
         u'0717190762': 5,
         u'0722052351': 9,
         u'0722252112': 9,
         u'0722333399': 3,
         u'0722527418': 1,
         u'0723143418': 49,
         u'0725467309': 53,
         u'0725700032': 2,
         u'0725845976': 1,
         u'0726134723': 10,
         u'0727346584': 3,
         u'0727379185': 4,
         u'0727597613': 2,
         u'0729165469': 1,
         u'0729236326': 1,
         u'0729296823': 3,
         u'0797234422': 4,
         u'0799275972': 3,
         u'100': 6,
         u'111': 1,
         u'144': 42,
         u'21991': 1,
         u'22430': 22,
         u'22846': 1,
         u'254260346760': 4,
         u'29029': 6,
         u'70555': 35,
         u'79079': 12,
         u'BETYETU': 1,
         u'BLAZE': 8,
         u'Branch-Co': 29,
         u'ECITIZEN': 2,
         u'ETOPUP': 1,
         u'GetBucks': 1,
         u'KCB M-PESA': 5,
         u'M-Shwari': 7,
         u'MPESA': 199,
         u'SAFARICOM': 73,
         u'Safaricom': 249,
         u'Smartika': 2,
         u'StarTimes': 3,
         u'Verify': 1,
         u'mCHEZA': 1})

In [41]:
# what happened to the sms from Branch?
# looks like this particular user has some text from 
# Branch about his late payment
dv1_sms[dv1_sms.sms_address == 'Branch-Co'].head(5)

,contact_id,datetime,item_id,message_body,sms_address,sms_type,thread_id
41,0,2017-04-09 11:10:46.416,28798,"Hi Abubakar Siddique, Branch reports any non-p...",Branch-Co,1,4030
74,0,2017-04-06 10:15:43.489,28763,"Hi Abubakar Siddique, you are very late on you...",Branch-Co,1,4030
93,0,2017-04-03 10:23:39.639,28744,"Hi Abubakar Siddique, you are very late on you...",Branch-Co,1,4030
134,0,2017-03-31 10:41:28.476,28700,"Hi Abubakar Siddique, you are very late on you...",Branch-Co,1,4030
149,0,2017-03-28 11:06:58.839,28682,"Hi Abubakar Siddique, you are very late on you...",Branch-Co,1,4030